<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>

        <div class="container">
            <div class="row mt-5">
                <h1> Welcome to Home page</h1>
                <hr>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quia iure, iste eius sint dolore id maiores nulla? Distinctio tenetur voluptate dicta sit temporibus voluptatem labore autem? Tempore, culpa obcaecati quibusdam voluptates, tempora
                    eius repellat odio cumque iusto porro pariatur deleniti doloremque corporis itaque sapiente quasi! Ipsum ex fugit qui praesentium, fuga recusandae iusto dolor, totam nesciunt laudantium possimus numquam in. Ut molestiae necessitatibus
                    optio quaerat soluta id officiis voluptate commodi!</p>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>