<%- include('./partials/header.ejs') %>
    <%- include('./partials/navbar.ejs') %>

        <div class="container mt-5">
            <h1> Login Page</h1>
            <hr>
            <div class="row mt-5">

                <div class="col-sm-6">
                    <form method="post">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required/>
                            <div id="emailHelp" class="form-text d-md-block d-none">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" name="password" required/>
                            <div id="emailHelp" class="form-text d-md-block d-none">We'll never share your password with anyone else.</div>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Login</button>
                    </form>
                </div>
            </div>
            <%- include('./partials/footer.ejs') %>